<a href="https://colab.research.google.com/github/Sergio-Tellz21/upsrj-machine-learning/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import numpy as np
import time
import pandas as pd

#Importacion de librerias
Este bloque importa las librerias numpy, pandas y time
sin este bloque el resto del codigo fallara porque no habran sido incluidas las dependencias.

In [21]:
datos = list(range(100_000_000))

inicio = time.perf_counter()
suma =0
for i in datos:
 suma += i
suma=1
final = time.perf_counter()

tiempo = final-inicio

print(f"tiempo de ejecucui贸n :{tiempo:6f} sec")

tiempo de ejecucui贸n :13.263438 sec

#Primera creacion de la lista de forma manual
Esta bloque de codigo es de forma manual los datos del 0 a 100Millones.

In [ ]:
np_lista = np.arange(1_000_000_000)

inicio = time.perf_counter()
suma_np = np.sum(np_lista)
final = time.perf_counter()

tiempo = final - inicio
print(f"Tiempo de ejecuci贸n: {tiempo:.6f} sec")

#Segunda creaci贸n de la lista de forma numpy
Este bloque de codigo es utilizando la libreria Numpy y contando del 0 al 1billon.

In [8]:
base_de_datos=[
    ["Oscar",21,   "gatos"],
    ["paula",21,   "tiburones"],
    ["Jonatan",24, "Hurones"],
    ["kevin",22,   "periquitos"],
    ["lucero", 21, "perros"],
    ["israel",21,  "lobos"],
    ["sergio",21,  "perros"],
    ["yahir",21,   "leones"],
    ["diego",21,   "pinguinos"]

]
columnas ={"Nombre":0, "Edad":1, "Animal":2}
filas={"oscar":0, "paula":1,"jonatan":2, "kevin":3,"lucero":4,"israel":5,"sergio":6,"yahir":7,"diego":8}
print(base_de_datos[filas["kevin"]][columnas["Animal"]])

periquitos

#Tercera creacion base de datos.
Este bloque de codigo es utilizando una base de datos de los nombres, su edad y tambien su animal favorito de forma manual.

In [13]:
df= pd.DataFrame(base_de_datos,columns=["Nombre", "Edad","Animal",], index=range(1,10))
print(df)

print(df.Animal[df["Nombre"]=="kevin"])

    Nombre  Edad      Animal
1    Oscar    21       gatos
2    paula    21   tiburones
3  Jonatan    24     Hurones
4    kevin    22  periquitos
5   lucero    21      perros
6   israel    21       lobos
7   sergio    21      perros
8    yahir    21      leones
9    diego    21   pinguinos
4    periquitos
Name: Animal, dtype: object

#Cuarta creacion usando la base de datos.
Este bloque de codigo es utilizando una base de datos de los nombres, su edad y tambien su animal favorito utilizando dataframe.